@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes grow {
  0% {
    height: 0%;
    width: 0%;
    top: 50%;
    left: 50%;
    overflow: hidden;
    opacity: 0;
  }
  80% {
    opacity: 1;
    height: 100%;
    width: 100%;
  }
}

@keyframes slide {
  0% {
    transform: translateX(-90%);
    opacity: 0;
    width: 200%;
  }
  80% {
    opacity: 1;
    transform: translateY(0);
    width: 100%;
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 0;
    height: 200%;
  }
  15% {
    -webkit-transform: translateY(-90%);
    -moz-transform: translateY(-90%);
    transform: translateY(-90%);
    opacity: 0;
    height: 200%;
  }
  80% {
    opacity: 1;
    height: 100%;
    -webkit-transform: translateY(-90%);
    -moz-transform: translateY(-90%);
    transform: translateY(0);
  }
}

@keyframes fly {
  0% {
    height: 200%;
    width: 200%;
    opacity: 0;
  }
  80% {
    opacity: 1;
    height: 100%;
    width: 100%;
  }
}

@keyframes roll {
  0% {
    transform: rotate(-180deg) translate(-90%, 0%);
    width: 200%;
    height: 200%;
    opacity: 0;
  }
  80% {
    width: 100%;
    height: 100%;
    opacity: 1;
    transform: rotate(0deg) translateX(0%, 0%);
  }
}
